<div class="center">
            <img class="logo" src="Logo.png"/>
        </div>
        <h1 class="display-5 fw-bold">Rifa decembrina 2022</h1>
        <br>
        <div class="center-row">
            <div class="number">
                <p>5</p>
            </div>
            <div class="number">
                <p>5</p>
            </div>
            <div class="number">
                <p>5</p>
            </div>
            <div class="number">
                <p>5</p>
            </div>
        </div>
    </body>
    <br>
    <a class="center" href="/">Volver a la página inicial</a>