<!-- views/pages/homepage.js -->
        <div class="center">
            <img class="logo" src="Logo.png"/>
        </div>
        <h1 class="display-5 fw-bold">Rifa decembrina 2022</h1>
        <br>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="/rifas/create">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">REGISTRAR DATOS</button>
                </a>
                <a href="/ticket">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">VER MI BOLETO</button>
                </a>
            </div>
        </div>