<div class="center">
            <img class="logo" src="Logo.png"/>
        </div>
        <h1 class="display-5 fw-bold">Rifa decembrina 2022</h1>
        <br>
        <div class="container mt-5 mb-5 d-flex justify-content-center">
            <div class="card px-1 py-4">
                <h2 class="center">INGRESA EL NÚMERO DE TICKET</h2>
                <div class="form-floating">
                    <input type="ticket" class="form-control" id="ticket" placeholder="REFERENCIA (TICKET)">
                    <label for="name">REFERENCIA (TICKET)</label>
                </div>
                <br>
                <div class="center">
                    <a class="btn btn-primary" href="boleto.html">VER MI BOLETO</a>
                </div>
            </div>
        </div>
    </body>
    <br>
    <a class="center" href="/">Volver a la página inicial</a>
    <br>
    <a class="center" href="/">Registrar mis datos</a>
    <br>
    <a class="center" href="ticketMal.html">Link código mal</a>
    <br>
    