        <div class="center">
            <img class="logo" src="Logo.png"/>
        </div>
        <h1 class="display-5 fw-bold">Rifa decembrina 2022</h1>
        <br>
        <div class="container mt-5 mb-5 d-flex justify-content-center">
            <div class="card px-1 py-4">
                <h2 class="center">INGRESA EL NÚMERO DE TICKET</h2>
                <div class="form-floating">
                    <form method="POST" action="/rifas">
                        <input type="ticket" class="form-control" name="ticket" id="ticket" placeholder="REFERENCIA (TICKET)">
                        <br>
                        <div class="center">
                            <input type="submit" class="btn btn-primary" value="VER MI BOLETO">
                        </div>
                        
                    </form>
                </div>
                <br>

            </div>
        </div>
    </body>
    <br>
    <a class="center" href="/">Volver a la página inicial</a>
    <br>
    <a class="center" href="/rifas/create">Registrar mis datos</a>
    <br>
    <a class="center" href="/dashboard">Link dashboard</a>
    <br>