<!-- views/rifas/create.hbs -->
<h1>Add a new rifa</h1>
<form method="POST" action="/rifas">
    <div>
        <label for="ticket">Ticket: </label>
        <input type="text" id="ticket" ticket="ticket">
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name">
        <label for="correo">Correo: </label>
        <input type="text" id="correo" correo="correo">
        <label for="telefono">Telefono: </label>
        <input type="text" id="telefono" telefono="telefono">
        <label for="gift">Gift: </label>
        <input type="text" id="gift" gift="gift">
    </div>
    <div>
        <input type="submit" value="Store">
    </div>
</form> 